<div class="signup-container">
    <div class="signup-card">
      <h1>Create Account</h1>
      <p>Create an account to unlock exclusive features and enhance your experience with us</p>
      <form (ngSubmit)="signup()">
        <input type="email" [(ngModel)]="email" name="email" placeholder="Email" required />
        <input type="password" [(ngModel)]="password" name="password" placeholder="Password" required />
        <input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" placeholder="Confirm Password" required />
        <button type="submit">Sign Up</button>
      </form>      
      <a href="#">Already have an account</a>
      <p>Or continue with</p>
      <div class="social-icons">
        <button></button>
        <button></button>
        <button></button>
      </div>
    </div>
  </div>