/* Prevent page scrolling */
body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 100vh;
}

/* Container Styling */
:host {
  display: block;
  height: 100vh;
}

.search-container {
  background: url('flat-lay-work-space-with-notebook-keyboard.jpg') no-repeat center center/cover;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* Navigation Bar Styling */
nav {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
  padding: 1rem 0;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 4rem;
  margin: 0;
  padding: 0;
}

nav ul li a {
  font-size: 1rem;
  color: floralwhite;
  text-decoration: none;
  font-family: 'Arial', sans-serif;
  transition: all 0.3s ease;
}

nav ul li a:hover {
  color: #3abf33;
  transform: scale(1.1);
}

/* Input Section Styling */
section {
  display: flex;
  justify-content: center;
  width: 100%;
}

.input-container {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 450px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Search Icon Button */
.search-icon {
  background-image: url(./searchv.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 35px;
  height: 35px;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  background-color: transparent;
}

/* Search Input */
.input-container input {
  flex-grow: 1;
  padding: 0.8rem;
  border: none;
  font-size: 1rem;
  outline: none;
}

/* Search Button */
.search-button {
  padding: 0.8rem 1.5rem;
  background: #3abf33;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-left: 10px;
}

.search-button:hover {
  background: linear-gradient(45deg,  #3abf33, #0056b3);
}
