<html>
  <body>
    <div class="search-container">
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/services">Services</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/add-details">Add Details</a></li>

        </ul>
      </nav>
      <section>
        <div class="input-container">
          <button class="search-icon"></button>
          <input type="text" placeholder="Enter the Correct Product ID" />
          <button class="search-button" [routerLink]="['/']">Search</button>
        </div>
      </section>
    </div>
  </body>
</html>
