<div class="home-container">
  <nav>
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/about">About</a></li>
      <li><a routerLink="/add-details">Add-Details</a></li>
      <li><a routerLink="/contact">Contact</a></li>
    </ul>
  </nav>

  <div class="auth-buttons">
    <button routerLink="/login">Login</button>
    <button routerLink="/signup">Sign Up</button>
  </div>

  <section>
    <h1>
      We Help You to <br />
      <span>Find Your Original Products</span>
    </h1>
    <p>
      We always make our customers happy by providing valuable services.
    </p>
    <button routerLink="/search">Get Started</button>
  </section>
</div>
